# ============================
# Python
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log
*.tmp

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ============================
# VS Code
# ============================
.vscode/
*.code-workspace

# ============================
# OS files
# ============================
.DS_Store
Thumbs.db


# ============================
# PDF Reports
# ============================
*.pdf
!docs/*.pdf

# ============================
# Build / cache folders
# ============================
build/
dist/
*.egg-info/

# ============================
# Python project files
# ============================
.Python
*.sqlite3

# ============================
# Ignore reports and temporary files
# ============================
*.zip
*.tar.gz
*.rar
reports/
output/
